.shadow {
	padding: 8px;
	margin: 8px;
	border-radius: 12px;

}

.card:hover {
	transition: 1s;
	padding-top: 4px;
	cursor: pointer;
	visibility: none;


}

.viewLink:hover {
	text-shadow: 2px 2px 4px grey;
}

.description{
	color: red;
}